div#page {
    overflow:visible;
}

.view-audio-visual table {
    background-color: white;

    width: 100%;
    font-size: 0.923em;
    margin: 0 0 10px;
    border: 1px solid #bebfb9;
    border-collapse: collapse;
    border-spacing: 0;
}

.view-audio-visual table th {
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px;
}

.node-form.node-audio_visual-form #edit-field-measurement-method,
.node-form.node-audio_visual-form #edit-field-ec-number,
.node-form.node-audio_visual-form #edit-field-cas-number,
.node-form.node-audio_visual-form #edit-field-provider-url,
.node-form.node-audio_visual-form #edit-field-provider-original,
.node-form.node-audio_visual-form #edit-field-provider,
.node-form.node-audio_visual-form #edit-field-external-url,
.node-form.node-audio_visual-form #edit-field-title-original,
.node-form.node-audio_visual-form #edit-title-field {
    margin-right: 6px;
}

.node-form.node-audio_visual-form #edit-field-measurement-method-und-0-value,
.node-form.node-audio_visual-form #edit-field-ec-number-und-0-value,
.node-form.node-audio_visual-form #edit-field-cas-number-und-0-value,
.node-form.node-audio_visual-form #edit-field-provider-url-und-0-url,
.node-form.node-audio_visual-form #edit-field-provider-original-und-0-value,
.node-form.node-audio_visual-form #edit-field-provider-und-0-value,
.node-form.node-audio_visual-form #edit-field-external-url-und-0-url,
.node-form.node-audio_visual-form #edit-field-title-original-und-0-value,
.node-form.node-audio_visual-form #edit-title-field-und-0-value {
    width: 100%;
}

.node-form.node-audio_visual-form #edit-field-item-type .form-type-select {
    margin-right: 6px;
}

.node-form.node-audio_visual-form #edit_field_item_type_und_chosen {
    width: 100% !important;
    width: 100%;
}

.node-form.node-audio_visual-form #edit_field_item_type_und_chosen .chosen-single {
    width: 100%;
}

.node-form.node-audio_visual-form  #edit-body .filter-wrapper.form-wrapper,
.node-form.node-audio_visual-form  .field-widget-text-textarea .filter-wrapper.form-wrapper {
    visibility: hidden;
    display: none;
}
