.contextual-links-region{
    clear: both;
}

.region-sidebar-second .contextual-links-region{
    clear: none;
}

header.navbar-default .campaigns-header .navbar-header .header-text {
	max-width: 300px;
    padding-left: 1em;
}

header.navbar-default.sticky-menu .campaigns-header .navbar-header .header-text{
    border-left: 0;
    height: auto;
}

header.navbar-default .campaigns-header #block-menu-menu-header-login a {
    background: #003399 url(../images/header/login.png) no-repeat 7px center;
    border-radius: 5px;
    height: 25px;
    padding-top: 3px;
}

header.navbar-default .campaigns-header #block-menu-menu-header-login a:hover {
    opacity: 0.8;
}

header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language #lang_dropdown_select_language_chosen {
    background-color: #d9e996;
    border: 1px solid #003399;
    border-radius: 5px;
    padding-left: 0.5em;
}

header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language select span{
	padding-top: 2px;
}

header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language #lang_dropdown_select_language_chosen > .chosen-single span{
    padding-top: 1px;
}

#lang-dropdown-select-language{
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language:after {
  background: url(../images/header/select.png) 5px 11px no-repeat transparent;
}

header.navbar-default .navbar-collapse nav ul.menu li > span.nolink{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}

header.navbar-default .campaigns-header .navbar-header .header_top_bar .region-above-header{
    min-width: 292px;
}

header.navbar-default .navbar-collapse nav ul.menu > li.first a{
    height: 27px;
}

header.navbar-default .navbar-collapse nav ul.menu li a .caret{
    height: 27px;
}

#block-on-the-web-0{
    margin-top: 6px;
}

header.navbar-default .navbar-collapse nav ul.menu > li.first a:before{
    background: url("/sites/all/themes/hwc_frontend/images/header/home-ico-v2.png") 50% 3px no-repeat;
    height: 27px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #003399;
}

.main-container h1, .main-container .title-alt{
    border-bottom: 0;
    color: #FFF;
}

.dropdown-menu{
    background-clip: inherit;
}

#block-views-frontpage-slider-block{
    clear: both;
}

#block-search-form input {
    width: 204px;
    height: 34px;
    font-size: 1em;
    float: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header.navbar-default .campaigns-header .navbar-header #block-search-form button{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 8px;
    height: 34px;
}

header.navbar-default .campaigns-header .navbar-header #block-search-form button:hover{
    opacity: 0.8;
}

.region-above-header.region a#text_resize_increase,
.region-above-header.region a#text_resize_decrease{
    color:#91afd9;
}

#block-menu-menu-footer-menu{
    clear: both;
}

#block-text-resize-0{
    padding-left: 10px;
}

.above_title .back-to-link {
    border-bottom: 0px dotted #749b00;
}

/*Articles*/

.node-type-article article{
    margin-left: 0;
    margin-right: 0;
}

article .hwc-share-widget ul{
    text-align: right;
    padding-bottom: 1em;
}

.hwc-share-widget ul li[id*="facebook-share-button-"] {
    background: url(../images/header/header-ico-facebook.png) no-repeat center bottom;
}

.hwc-share-widget ul li[id*="twitter-share-button-"]{
    background: url(../images/header/header-ico-twetter.png) no-repeat center bottom;
}

.hwc-share-widget ul li[id*="linked-in-"]{
    background: url(../images/header/header-ico-linkedin.png) no-repeat center bottom;    
}

.hwc-share-widget ul li{
    height: 20px !important;
}

.hwc-share-widget ul li a{
    height: 20px !important;
}

.hwc-share-widget ul li:hover{
    opacity: 0.8;
}

.hwc-share-widget ul .share-this-article{
    color: #333;
    font-size: 1.3rem;
    font-weight: normal;
}

.hwc-share-widget ul .share-this-article:hover{
    opacity: 1;
}

/*Publications*/

.container .field.field-name-body p a{
    border-bottom: 0;
}

.section-introduction p{
    text-align: left;
}

.section-introduction .field-type-text-with-summary{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
}

.page-campaign-partners-campaign-media-partners .section-introduction .field-type-text-with-summary{
    padding-bottom: 0;
}

.form-item-relevant-for, .form-item-main-tags, .form-item-field-publication-type, .form-item-language, .form-item-field-priority-area, .form-item-languages{
    padding-top: 5px;
    border-bottom: 0;
}

#edit-left-column{
    padding-left: 0;
}

#edit-left-column label{
    color: #59595A!important;
}

#edit-left-column input[type=checkbox]{
    display: block;
}

.checkbox input[type=checkbox]:checked:before{
    padding: 0;
}

.control-label.active{
    font-size: 1.8rem;
}

#edit-field-priority-area > div > label{
    font-size: 1.8rem;
}

a.chosen-single{
    background: transparent !important;
    background-color: transparent !important;
    width: auto !important;
    box-shadow: 0 0 0 white inset, 0 0 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    padding-left: 0 !important;
    color: #003399 !important;
}

.chosen-container-single .chosen-single div b{
    display: none;
}

#osha-publication-menu-publications-form .form-type-textfield{
    width: 100%;
}


.form-item-main-tags > label.active:after, .form-item-field-publication-type > label.active:after, .form-item-language > label.active:after, .form-item-field-priority-area > label.active:after, .form-item-relevant-for > label.active:after, .form-item-languages > label.active:after, .form-item-publication-type > label.active:after{
    color: #c1e000;
    padding-top: 2px;
}


.form-item-main-tags > label:after, .form-item-field-publication-type > label:after, .form-item-language > label:after, .form-item-field-priority-area > label:after, .form-item-relevant-for > label:after, .form-item-languages > label:after, .form-item-publication-type > label:after{
    color: #c1e000;
    padding-top: 2px;
}


#edit-search-api-views-fulltext-wrapper label:after{
    content: '';
}


/* General Search  */

body > div.main-container > div > aside > div > div:nth-child(2){
    margin-top: 37px;
}

.results-for .searched-text, .results-for b{
    font-size: 1em;
}

.page-search .region-sidebar-first .views-exposed-widgets #edit-search-block-form--3-wrapper{
    padding-right: 0;
}

.page-search .block-osha-search{
    margin-top: 6px;
    padding-left: 0;
}

.page-search .region-sidebar-first .views-exposed-widgets .views-submit-button button{
    right: 6px;
    top: 13px;
    height: 22px;
    color: #FFF!important;
}

.page-search .region-sidebar-first .views-exposed-widgets .form-type-textfield input{
    border-radius: 5px;
}

.page-search .region-sidebar-first .block.block-facetapi{
    clear: both;
    width: 100%;
    border: 1px solid #B0B2B3;
    background: #FFF;
    float: left;
    padding: 0.8em;
    border-radius: 5px;
    margin-top: 31px;
}


.facetapi-facetapi-checkbox-links.facetapi-facet-field-priority-area.facetapi-processed.no-margin-bottom, 
#facetapi-facet-search-apidefault-multilingual-node-index-block-type,
#facetapi-facet-search-apidefault-multilingual-node-index-block-language{
    padding-top: 10px;
}

.facetapi-facetapi-checkbox-links{
    padding-left: 0;
}

.page-search .region-sidebar-first .block.block-facetapi .facetapi-facetapi-checkbox-links li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-search .region-sidebar-first .block.block-facetapi .facetapi-facetapi-checkbox-links li #facetapi-link--all--checkbox{
    margin-right: 10px;
}

.page-search  input[type=checkbox]{
    display: block;
    float: left;
    margin-right: 10px;
}

.facetapi-facetapi-checkbox-links a{
   color: #59595A!important; 
}


/* News detail */

.page-node .node-news .field-name-body{
    padding-bottom: 2em;
}

.page-media-centre-news .main-container #block-system-main .view .views-row .field-name-field-summary{
    font-weight: bold;
}

/* Drupal7 Admin menu links */
.contextual-links{
    padding-top: 3px!important;
}

.contextual-links li a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    line-height: 100%;
    list-style: none;
    list-style-image: none;
    box-sizing: border-box;
    border-radius: 0px;
    text-decoration: none;
    background: transparent !important;
    padding-left: 10px !important;
    padding-top: 3px!important;
    color: #333 !important;
    display: block;
    margin: 0.25em 0;
    padding: 0.25em 1em 0.25em 0.5em;
    border:0 !important;
}