@media (max-width: 1200px) {


	.start-browsing {
    	background: url(../images/background-start-browsing.png) repeat-y;
	}

	.publications-right-column{
		width: 70%;
	}

	span.title-select{
		display: block;
    	width: 100%;
    	padding-bottom: 1em;
	}

	.content-languages-download select.new-select-style{
		width: 84% !important;
	}

	.content-order-copy img {
	    float: none;
	    margin-left: 0;
	    margin-top: 1em;
	}

}



@media (min-width: 1480px) {


	.start-browsing .content-boxes{
		width: 72%;
	}


}

@media (max-width: 1465px) {

	.publication-detail{
		background: none;
	}

	.breadcrumb_hwc20 {
	    padding: 30px 10px 5px 70px;
	}

}