@media (max-width: 992px) {

	header.navbar-default{
		&.sticky-menu{
			.campaigns-header{
				.navbar-header{
					.col-xs-12.col-sm-9{
						display: flex;
						a{
							margin-top: 0.5em;
							&.pull-left{
								margin: 0 1em 0 0;
								img{
									width: auto !important;
								}
							}
							img{
								&.pull-left{
									
								}
							}
						}
						img{
							&:nth-child(3){
							width: auto !important;
  						padding: 0em !important;
							margin: auto 0 0 0;
							height: 40px;
							}
						}
						.header-text{
							margin-left: auto;
					    border: 0;
					    margin-top: 0;
						}					
					}
				}
			}			
		}
		.campaigns-header{
			padding: 0rem !important;
			.row{
				padding: 0 !important;
			}
			.navbar-header{
				padding: 7px;				
				.col-xs-12.col-sm-9{
			    display: flex;
			    align-self: flex-start;
					a{
						margin-top: 3rem;
						&.pull-left{
							margin: 2rem 1em 0 0;
							img{
								width: auto !important;
								height: 77px;
							}
						}
						img{
							&.pull-left{
								width: auto !important;
								height:60px;
								margin: 0;
							}
						}
					}
					img{
						&:nth-child(3){
					    width: auto!important;
					    padding: 0!important;
					    margin: 54px 0 0 7px;
					    height: 36px;
						}
					}
					.header-text{
				    width: auto;
				    padding: 1rem 3rem 0 1rem;
				    margin-top: 2rem;
				    border-left: 1px solid;
				    margin-left: 1em;
					}					
				}
			}
		}	
	}
	.breadcrumb {
	  padding: 10px !important;
	}
	#navbar > div > div:nth-child(1) > div > div > div.col-xs-12.col-sm-3.xs-menu{
		padding-right: 10px;
	}

	.comming-soon{
		.content-counter{
			.time-and-counters{
				width: 100%;
				display: flex;
				justify-content: center;
				li{
			    width: auto;
			    display: flex;
			    flex-wrap: wrap;
			    span{
						margin: auto !important;
			    }
					.counter-value{

					}
				}
			}
		}
	}
	.before-the-campaign{
		h2{
			letter-spacing: -1px;
		}
		.content-box-before{
			.box-before{
				.block-views{
					.view-view-campaign-materials{
						.view-content{
					    display: flex;
					    flex-wrap: wrap;
					    > div{
					    	width: 50%;
					    	border-bottom: 1px solid #CCC;
					    	.box-before-title{
									border: 0;
					    	}
					    }
						}						
					}
				}
			}
		}
	} 


	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.page_title h1{
		font-size: 2.6em;
	    width: 480px;
	    padding-bottom: 0.5em;
	}

	#block-text-resize-0, #block-hwc-hwc-print-friendly{
		display: none;
	}

	#block-on-the-web-0{
		float: right;
	}

	.main-container h2{
		margin-left: 15px;
		margin-right: 15px;
	}

	.region.region-sidebar-first.well{
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.node-article .hwc-share-widget{
		padding-top: 0;
	}



	.navbar-default{
		border-color: transparent;
	}

	ul.time-and-counters li {
	    width: 100px;
	}

	.breadcrumb_hwc20{
		display: none;
	}

	.view{
		.views-row{
			h2{
				margin-left: 0;
			}
			.field.field-name-field-summary{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	/*Splash page*/
	.intro-splash-20 .views-row-first{
		padding-bottom: 1em;
	}

	/*Home*/
	#block-views-news-events{
		.col-md-8{
			border-right: 0;
		}
	}

	.row-newsletter-social{
		background: #acc700;
		padding-bottom: 2em;
	}


	/*Sub homes*/

	.container .content-box-sub{
		margin-right: 0;
	}

 
	/*Introductory page article*/
	.related-resources{
		margin-top: 0;
		padding-bottom: 1em;
		width: 100%;
	}

	.left-menu ul{
		padding-left:0;
	}

	.left-menu ul li.selected{
		display: list-item;
	}	

	.related-resources-boxes{
		flex-direction: row;
		padding-bottom: 1em;
		div{
			width: 29%;
			margin-right: 1em;
			display: flex;
		}
	}

	.container-recommended-tools{
		justify-content: flex-start;
	}

	.recommended-tool{
		width: 100%;
	    margin: 0;
	    min-width: auto;
	    padding-left: 0;
	    padding-right: 0;
	    justify-content: center;
	    text-align: center;
	}

	.recommended-tool a {
	    word-break: break-word;
	    width: 100%;
	    padding-top: 15px;
	}

	/*Newsletter*/
	.newsletter-social-media .newsletter{
		border-right: 0;
    	border-bottom: 1px dashed #FFF;
    	padding-bottom: 1em;
	}

	body.front-page{
		.newsletter-social-media .newsletter{			
	    	border-bottom: 0;
		}
	}

	/*Publications page*/

	.content-fluid .container{
		padding-left: 3.5em;
   	 	padding-right: 3.5em;
	}

	.box-latest-publications{
		width: 100%;
		min-height: auto !important;
	}

	.sidebars_first{
		margin-left: 10px;
		width: 95.1%;
	}	

	.content-filters{
		width: 100%;
	}

	.page-publications #content{
		margin-top: 1em;
		width: 95.1% !important;
		margin-left: 9px !important;
	}

	.search-new-design{
		margin-top: 0;
	}

	.page-publications .main-container {
	    padding-right: 0 !important;
	    padding-left: 0 !important;
	}

	.page-publications .views-exposed-widget, .page-events .views-exposed-widget, .page-tools-and-publications-campaign-materials .views-exposed-widget{
		width: 100% !important;
		margin-top: 1em;
		margin-right: 0;
	}

	#edit-text{
		max-width: 100% !important;
	}

	.sidebars_first{
		.form-checkboxes {
			display: block;
		}
	}

	#edit-left-column .form-item-field-publication-type > label, #edit-left-column .form-item-language > label, #edit-left-column .form-item-field-priority-area > label, #edit-left-column .form-item-relevant-for > label, #edit-left-column .form-item-languages > label, #edit-left-column .form-item-publication-type > label{
		background-color: transparent;
	}

	.field.field-name-field-summary{
		margin-right: 2em;
		margin-left: 2em;
	}

	.publications-left-column{
		width: 50%;
		margin-right: 0;
	}

	.content-publication-summary{
		height: auto;
	}

	.page-publications, .page-tools-and-publications-campaign-materials{
		.publications-right-column{
			width: 100%;
			float: right;
			padding-right:0;
			h2{
				height: auto;
				line-height: 20px;
				a{
					font-style: normal;
					font-size: 2.2rem;
				}
			} 
		}

		.box-latest-publications .right-column{
			width: 100%;
		}

		.publication-see-more-bottom-container{
			margin-top: 1em;
			margin-bottom: 0;
			bottom:auto;
			position:static;
		}

		.news-see-more-button{
			position: relative;
			bottom: 0;
		}
	}

	.publication-detail{
		.publications-left-column{
			img{
				display: none;
			}
		}

		.publications-row{
			margin-bottom: 0;
			padding: 0;
		}
	}

	.content-downloads{
		clear: both;
		padding: 0 0 4em 0;
		width: 100%;
		max-width: 480px;
		float: left;
	}

	.content-order-copy img{
		margin-left: 1em;
	}

	/*Pagination*/
	.pager li a{
		padding: 5px 12px;
	}

	.pager-current{
		padding-right:12px;
		padding-left:12px;
	}

	.pager-total{
		position:static;
		top:auto;
		right: auto;
	}

	/* General Search */

	.page-search{
		.main-container{
			aside{
				padding: 1em;
				width: 100%;
				.region-sidebar-first{
					.block.block-facetapi{
						margin-bottom: 15px;
						margin-top: 0;
						h2{
							background-color: transparent;
							margin: 0;
							padding: 15px 0 15px 0;
						}
					}
				}
			}
			.region-content{
				padding: 1em;
				&.region{
					.view-search{
						.view-header{
							margin-bottom: 1em;
						}
					}
				}
			}
			#block-system-main{
				.view{
					.views-row{
						.more-link{
							bottom: 10px;
					    right: 0;
						}
					}
				}
			}
		}
		.view-footer{
			right: auto;
			position: relative;
			top: -6px;
		}
	}


	/* Panels - National Focal Points, etc. */
	.panels-flexible-column-inside-first .profile-col-left-middle-2{
		width: 100%;
	}

	.main-container .panels-flexible-row h2{
		margin-left: 0
	}

	body.ocp .panels-flexible-region .pane-node-field-bussines-sector{
	    float: none;
	    padding-right: 0;
	    clear: both;
	}

	/* Events */
	.page-events{

		.region-sidebar-first{
			.contextual-links-region{
				margin-top: 0; 
			}
		}

		.view-events-search{
			.view-content{
				clear: both;
				padding-top: 3em;
				.view-content:nth-child(2){
					.views-row{
						padding: 1em 0;
					}
				}
			}
		}

		.region.region-content{
			clear: both;
			#block-system-main{
				.views-exposed-widgets {
					margin-left: 0;
					#edit-search-api-views-fulltext-wrapper{
						margin-left: 0;
					}
					.views-widget-filter-field_start_date_value{
						margin-left: 0;
					}
					.form-item-years{
						margin-left: 0;
					}
					#edit-search-api-views-fulltext{
						max-width: 299px;
					}
					input{
						width: 299px!important;
					}
					.form-control{
						width: 299px!important;
						border-radius: 5px;
						background: url(../images/green-select.png) no-repeat scroll 94% center #ffffff !important;
					}
					#edit-years{
						width: 299px!important;
					}
					#edit-submit-events-search {
					    left: 0px;
					    top: 73px;
					    position: absolute;
					}
				}
			} 
		}

		.col-md-9{
			clear: both;
		}

		#osha-events-dates-form {
		    width: 301px!important;
		}

		#osha-events-dates-form{
			float: left;
			margin-left: 0;
			margin-bottom: 0;
		}

		.region-sidebar-first .contextual-links-region{
			padding-left: 0;
		}

		.views-exposed-widgets{
			padding-top: 0;
		}

		#edit-search-api-views-fulltext{
			margin-top: 0;
		}

	}

	#block-system-main .view-events-search, .view-events-search{
		margin: 0;	
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row .views-field-view-node{
		position: relative;
		margin-left: 230px;
		float: left;
		clear: both;
		margin-top: -2em;  
    }

	.page-events .region-content #block-system-main .views-row > div{
		margin-left: 0;
		margin-right: 0;
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row{
		min-height: auto;
		width: 100%;
	}

	.views-widget-filter-field_country_code{
		padding-top: 0px !important;
	}

	.page-events .region-content #block-system-main .views-exposed-widgets .form-item-years{
		padding-top: 0px;
	}

	.page-events .add-to-calendar {
	    margin-left: 330px;
	    margin-top: -2em;
	}

	.node-type-events{
		
		.main-container h2{
			margin-left: 0;
			margin-right: 0;
		}

		.group-footer{
			padding-left: 0!important;
			padding-right: 0!important;
		}
	}

	/* press room */
	body.press-room{
		h2.block-title{
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		.related-resources-boxes div{
			width: 25%;
			margin-right: 0em;
		}

		#block-hwc-page-share-widget{
			.hwc-share-widget{
				display: none;
			}
		}
	}	

	/* Previous Campaigns */

	#block-hwc-homepage-previous-campaign-nav{
		padding-bottom: 2em;
	}

	.accordion-menu{
		max-width: 100%;
		margin-bottom: 0.5em;
		.menu-level-2{
			ul{
				li{
					max-width: 265px;
					float: left;
					margin-right: 1em;
				}
			}
		}
	}

	#block-hwc-campaign-resources{
		.campaign-resources{
			.campaign-resources-boxes{
				div{
					width: 49%;
				}
				a{
					span{
						width: auto;
						padding-right: 15px;
					}
				}
			}
		}
	}

	/*Footer*/
	.footer-section{
		display: none;
	}

	/* Video page */
	body.video-page{
	
		.col-md-9{
			padding-right: 0;
    		padding-left: 0;
		}

		.col-md-3{
			padding-right: 1em;
    		padding-left: 1em;
		}

		.field-name-body{
			iframe{
				width: 100%;
			}
		}

		.field-name-field-recommended-resources{
			padding-right: 0;
    		padding-left: 0;
		}
	}

	/* Become a campaign partner */
	.become-partner-text{
		width: 99%;
	} 

}



@media (max-width: 1395px) and (min-width: 696px) {
	.box-before.previous{
		width: 672px;
		.row-responsive{
			float: left;
			width: 313px;
		}

		.img-previous-campaign img {
		    width: 88%;
		    margin-top: 1em;
		}

		.content-buttom{
		    margin-top: 1.5em;
		    float: left;
		    width: 100%;
    	}
	}
}


@media (max-width: 1200px) and (min-width: 990px) {
	.page-tools-and-publications{
		#edit-left-column{
			width: 100%;
	    	.content-filters{
	    		width: 48%;
	    		margin-right: 1em;
	    	}
		}
	}

	.page-publications .views-exposed-widget, .page-publications .page-events .views-exposed-widget, .page-tools-and-publications-campaign-materials .views-exposed-widget{
	    width: 32%!important;
	}

	.page-publications #content, .page-events #content {
	    width: 96.1%!important;
	}
}


@media (max-width: 1024px){

	.profile-2-cols-container-3 .panels-flexible-column-last .field-type-link-field a{
		white-space: nowrap; 
		width: 188px; 
		overflow: hidden;
		text-overflow: ellipsis; 
	}

	.page-enterprise-europe-network #block-system-main .node-article .field-type-text-with-summary, .page-national-focal-points #block-system-main .node-article .field-type-text-with-summary, .page-campaign-media-partners #block-system-main .node-article .field-type-text-with-summary, .page-campaign-partners-official-campaign-partners #block-system-main .node-article .field-type-text-with-summary {
	    width: 100%;
	}

	.node-type-partner{
	[class*="field-type-link"]{
			font-weight: bold;
			text-align: left;
			&[class*="facebook"]{
				background: url("../images/content/facebook.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				white-space: nowrap;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="twitter"]{
				background: url("../images/content/twitter.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="slideshare"]{
				background: url("../images/content/slideshare.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="youtube"]{
				background: url("../images/content/youtube.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="linkedin"]{
				background: url("../images/content/linkedin.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="google-plus"]{
				background: url("../images/content/googleplus.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="pinterest"]{
				background: url("../images/content/pinterest.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			a{
				&:before{
					content: "";
					padding-right: 0;
				}
			}
		}
	}

	/* Events */

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row{
		min-height: auto;
		width: 100%;
	}

	.footer{
		div.container{
			padding-left: 0;
			padding-right: 0;
		}
		div.on-the-web{
			margin-right: 0;
		}
		div.on-the-web a{
			margin-left: 3px;
		}
	}
}


@media (max-width: 1200px){

	.box-latest-publications{
		min-height: 170px;

		.left-column{
			display: none !important;
		}

		.right-column {
		    float: left;
		    width: 100%;
		    padding: 1em;
		    h2{
				padding-bottom: 0;
				padding-top: 0;
				 a{
					padding-top: 1em;
				}
			}
		}
	}

	.page-publications #content, .page-events #content{
		margin-top: 0;
	}

	.how-to-apply > div.boxes > div:nth-child(2) {
	    position: absolute;
	    left: 38%;
	    top: 73px;
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row .views-field-view-node,
	.add-to-calendar{
		margin-top: auto;
	}

	.page-events #osha-events-dates-form {
    	width: 157px;
	}

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	/* iPad */

	.how-to-apply > div.boxes > div:nth-child(1) {
    	left: 4%;
    }

	.how-to-apply > div.boxes > div:nth-child(2) {
	    left: 36.5%;
	}

	.how-to-apply > div.boxes > div:nth-child(3) {
	    right: 0%;
	}

	.before-the-campaign .content-box-before .box-before{
		margin-bottom: 0;
		margin-left: 0;
	}

	/* Splash page */
	
	.before-the-campaign .content-box-before .box-before.news{
		margin-bottom: 0em;
	}

	.before-the-campaign .content-box-before .two-box-column .box-before.events{
		margin-right: 1em !important;
	}


	/* Events */

	.page-events .region.region-content #block-system-main .views-exposed-widgets{
		margin-left: 0;
	}

	#block-system-main .view-events-search, .view-events-search{
		margin: 0;
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row{
		min-height: auto;
		width: 100%;
		margin-top: 2em;
	}

	.page-events .region.region-content #block-system-main .views-exposed-widgets .form-control {
    	width: 152px!important;
	}

	#block-osha-events-osha-events-dates{
		margin-left: 15px;
	}

	.page-events #edit-search-api-views-fulltext {
	    margin-top: 25px;
	}

	.page-events .region.region-content #block-system-main .views-exposed-widgets #edit-years {
	    width: 153px!important;
	}

	.page-publications .views-exposed-widget, .page-events .views-exposed-widget, .page-tools-and-publications-campaign-materials .views-exposed-widget{
	    width: auto !important;
	    margin-top: 1em;
	    margin-right: 0.5em;
	}

	.page-events .region.region-content #block-system-main .views-exposed-widgets #edit-submit-events-search {
	    left: 169px;
	    top: 24px;
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row .views-field-view-node {
		position: relative;
		float: left;
		clear: both;
		margin-top: -24px;
		width: auto;
		margin-left: 230px;
	}

	.add-to-calendar{
		margin-top: -25px;
	}

	.page-events .region-content #block-system-main .view-events-search .view-content:nth-child(2) .views-row .views-field-title-field a{
		font-size: 1.3em;
	}

	.page-events .view-events-search .view-content {
	    padding-top: 0em;
	}

	.node-type-events .group-right2 .add-to-calendar {
    	float: none;
	}

}

@media (max-width: 990px) {
	
	/* Private Zone */
	.profile-edit-links-container{
		.panels-flexible-region-inside-first{
			justify-content: flex-start;
		}

		.pane-hwc-partner-hwc-partner-private-link-0, 
		.pane-hwc-partner-hwc-partner-private-link-1,
		.pane-hwc-partner-hwc-partner-private-link-2,
		.pane-hwc-partner-hwc-partner-private-link-3,
		.pane-node-profile-update-link{
			width: 87%;
			max-width: 320px;
		}
		.hwc-partner-private-link-block-description {
		    margin-top: 0.8em;
		}
	}

}