@media (max-width: 992px) {

	#navbar > div > div:nth-child(1) > div > div > div.col-xs-12.col-sm-9{
		padding-top: 1em;
    	padding-left: 1em!important;
	}

	header.navbar-default .campaigns-header .navbar-header a img.pull-left{
		margin-top: 31px;
	}

	header.navbar-default .campaigns-header .navbar-header img:nth-child(3){
		padding-top: 39px;
    	margin-top: -2px;
	}

	#navbar > div > div:nth-child(1) > div > div > div.col-xs-12.col-sm-3.xs-menu{
		padding-right: 10px;
	}

	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.page_title h1{
		font-size: 2.6em;
	    width: 480px;
	    padding-bottom: 0.5em;
	}

	#block-text-resize-0, #block-hwc-hwc-print-friendly{
		display: none;
	}

	#block-on-the-web-0{
		float: right;
	}

	.main-container h2{
		margin-left: 15px;
		margin-right: 15px;
	}

	.region.region-sidebar-first.well{
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.node-article .hwc-share-widget{
		padding-top: 0;
	}

	header.navbar-default .campaigns-header .row:first-of-type{
		padding: 0;
	}

	.navbar-default{
		border-color: transparent;
	}

	ul.time-and-counters li {
	    width: 100px;
	}

	.breadcrumb_hwc20{
		display: none;
	}

	.view .views-row h2{
		margin-left: 0;
	}

	.view .views-row .field.field-name-field-summary{
		margin-left: 0;
		margin-right: 0;
	}

	/*Splash page*/
	.intro-splash-20 .views-row-first{
		padding-bottom: 1em;
	}

	/*Home*/
	#block-views-news-events{
		.col-md-8{
			border-right: 0;
		}
	}

	.row-newsletter-social{
		background: #acc700;
		padding-bottom: 2em;
	}


	/*Sub homes*/

	.container .content-box-sub{
		margin-right: 0;
	}

 
	/*Introductory page article*/
	.related-resources{
		margin-top: 0;
		padding-bottom: 1em;
		width: 100%;
	}

	.left-menu ul{
		padding-left:0;
	}

	.left-menu ul li.selected{
		display: list-item;
	}	

	.related-resources-boxes{
		flex-direction: row;
		padding-bottom: 1em;
		div{
			width: 29%;
			margin-right: 1em;
			display: flex;
		}
	}

	.container-recommended-tools{
		justify-content: flex-start;
	}

	.recommended-tool{
		width: 100%;
	    margin: 0;
	    min-width: auto;
	    padding-left: 0;
	    padding-right: 0;
	    justify-content: center;
	    text-align: center;
	}

	.recommended-tool a {
	    word-break: break-word;
	    width: 100%;
	    padding-top: 15px;
	}

	/*Newsletter*/
	.newsletter-social-media .newsletter{
		border-right: 0;
    	border-bottom: 1px dashed #FFF;
    	padding-bottom: 1em;
	}

	/*Publications page*/

	.content-fluid .container{
		padding-left: 3.5em;
   	 	padding-right: 3.5em;
	}

	.box-latest-publications{
		width: 100%;
		min-height: auto !important;
	}

	.sidebars_first{
		margin-left: 10px;
		width: 95.1%;
	}	

	.content-filters{
		width: 100%;
	}

	.page-publications #content{
		margin-top: 1em;
		width: 95.1% !important;
	}

	.search-new-design{
		margin-top: 0;
	}

	.page-publications .main-container {
	    padding-right: 0 !important;
	    padding-left: 0 !important;
	}

	.page-publications .views-exposed-widget, .page-events .views-exposed-widget {
		width: 100% !important;
		margin-top: 1em;
		margin-right: 0;
	}

	#edit-text{
		max-width: 100% !important;
	}

	.sidebars_first{
		.form-checkboxes {
			display: block;
		}
	}

	#edit-left-column .form-item-field-publication-type > label, #edit-left-column .form-item-language > label, #edit-left-column .form-item-field-priority-area > label, #edit-left-column .form-item-relevant-for > label, #edit-left-column .form-item-languages > label, #edit-left-column .form-item-publication-type > label{
		background-color: transparent;
	}

	.field.field-name-field-summary{
		margin-right: 2em;
		margin-left: 2em;
	}

	.publications-left-column{
		width: 50%;
		margin-right: 0;
	}

	.page-publications .publications-right-column{
		width: 100%;
		float: right;
		padding-right:0;
	}

	.publications-right-column h2 a{
		font-style: normal;
		font-size: 0.6em;
	}

	.content-publication-summary{
		height: auto;
	}

	.page-publications .publications-right-column h2{
		height: auto;
		line-height: 20px;
	}

	.box-latest-publications .right-column{
		width: 100%;

	}

	.publication-see-more-bottom-container{
		margin-top: 1em;
		margin-bottom: 0;
		bottom:auto;
		position:static;
	}

	.page-publications .publications-right-column .news-see-more-button{
		position: relative;
		bottom: 0;
	}

	.publication-detail{
		.publications-left-column{
			img{
				display: none;
			}
		}

		.publications-row{
			margin-bottom: 0;
			padding: 0;
		}
	}

	.content-downloads{
		clear: both;
		padding: 0 0 4em 0;
		width: 100%;
		max-width: 480px;
		float: left;
	}

	.content-order-copy img{
		margin-left: 1em;
	}

	/*Pagination*/
	.pager li a{
		padding: 5px 12px;
	}

	.pager-current{
		padding-right:12px;
		padding-left:12px;
	}

	.pager-total{
		position:static;
		top:auto;
		right: auto;
	}

	/* General Search */

	.page-search .main-container aside{
		padding: 1em;
	}

	.page-search .main-container .region-content{
		padding: 1em;
	}

	.page-search .region.region-content .view-search .view-header{
		margin-bottom: 1em;
	}

	.page-search .region-sidebar-first .block.block-facetapi h2{
		background-color: transparent;
		padding-left: 0;
    	margin-left: 0;
    	padding-top: 15px;
	}

	.page-search .view-footer{
		right: auto;
		position: relative;
		top: -6px;
	}


	/* Panels - National Focal Points, etc. */
	.panels-flexible-column-inside-first .profile-col-left-middle-2{
		width: 100%;
	}

	.main-container .panels-flexible-row h2{
		margin-left: 0
	}

	/*Footer*/
	.footer-section{
		display: none;
	}

}



@media (max-width: 1395px) and (min-width: 696px) {
	.box-before.previous{
		width: 672px;
		.row-responsive{
			float: left;
			width: 313px;
		}

		.img-previous-campaign img {
		    width: 88%;
		    margin-top: 1em;
		}

		.content-buttom{
		    margin-top: 1.5em;
		    float: left;
		    width: 100%;
    	}
	}
}


@media (max-width: 1200px) and (min-width: 990px) {
	.page-tools-and-publications{
		#edit-left-column{
			width: 100%;
	    	.content-filters{
	    		width: 48%;
	    		margin-right: 1em;
	    	}
		}
	}

	.page-publications .views-exposed-widget, .page-publications .page-events .views-exposed-widget {
	    width: 32%!important;
	}

	.page-publications #content, .page-events #content {
	    width: 96.1%!important;
	}
}


@media (max-width: 1024px){

	.profile-2-cols-container-3 .panels-flexible-column-last .field-type-link-field a{
		white-space: nowrap; 
		width: 188px; 
		overflow: hidden;
		text-overflow: ellipsis; 
	}

	.page-enterprise-europe-network #block-system-main .node-article .field-type-text-with-summary, .page-national-focal-points #block-system-main .node-article .field-type-text-with-summary, .page-campaign-media-partners #block-system-main .node-article .field-type-text-with-summary, .page-campaign-partners-official-campaign-partners #block-system-main .node-article .field-type-text-with-summary {
	    width: 100%;
	}

	.node-type-partner{
	[class*="field-type-link"]{
			font-weight: bold;
			text-align: left;
			&[class*="facebook"]{
				background: url("../images/content/facebook.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				white-space: nowrap;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="twitter"]{
				background: url("../images/content/twitter.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="slideshare"]{
				background: url("../images/content/slideshare.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="youtube"]{
				background: url("../images/content/youtube.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="linkedin"]{
				background: url("../images/content/linkedin.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="google-plus"]{
				background: url("../images/content/googleplus.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			&[class*="pinterest"]{
				background: url("../images/content/pinterest.png") no-repeat left center;
				padding-left: 30px;
				margin-bottom: 1em;
				.field-item{ 
				  a{
					white-space: nowrap; 
					width: 188px; 
					overflow: hidden;
					text-overflow: ellipsis; 
					}
				}
			}
			a{
				&:before{
					content: "";
					padding-right: 0;
				}
			}
		}
	}

	.footer{
		div.container{
			padding-left: 0;
			padding-right: 0;
		}
		div.on-the-web{
			margin-right: 0;
		}
		div.on-the-web a{
			margin-left: 3px;
		}
	}
}


@media (max-width: 1200px){

	.box-latest-publications{
		min-height: 170px;

		.left-column{
			display: none !important;
		}

		.right-column {
		    float: left;
		    width: 100%;
		    padding: 1em;
		    h2{
				padding-bottom: 0;
				padding-top: 0;
				 a{
					padding-top: 1em;
				}
			}
		}
	}

	.page-publications #content, .page-events #content{
		margin-top: 0;
	}

	.how-to-apply > div.boxes > div:nth-child(2) {
	    position: absolute;
	    left: 41%;
	    top: 73px;
	}

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	/* iPad */

	.how-to-apply > div.boxes > div:nth-child(1) {
    	left: 4%;
    }

	.how-to-apply > div.boxes > div:nth-child(2) {
	    left: 36.5%;
	}

	.how-to-apply > div.boxes > div:nth-child(3) {
	    right: 0%;
	}

}