
/* Styles for Release 2, This styles shouldn't be merge on release_1 branch */

/* Private Zone */
.profile-edit-links-container{
	.panels-flexible-region-inside-first{
		justify-content: center;
		display: flex;
		flex-flow: row wrap;
	  	margin: 1rem 0 3rem;
	}
	.pane-hwc-partner-hwc-partner-private-link-0,
	.pane-hwc-partner-hwc-partner-private-link-1,
	.pane-hwc-partner-hwc-partner-private-link-2,
	.pane-hwc-partner-hwc-partner-private-link-3,
	.pane-node-profile-update-link{
	  width: 20%;
		
		.pane-content{
		min-height: 130px;
		text-align: center;
		padding: 20px 10px !important;
		margin: 10px;
		border: 0;
		background: transparent !important;
		max-height: 100% !important;
		display: flex;
		height: 100%;

			.hwc-partner-private-link-block-title{
				text-align: right;
				background: transparent;
				color: #00309d;
				border: 2px solid #bcd75b;
				padding: 0 1em;
				border-radius: 12px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-size: 15px;
				font-weight: 600;
				min-height: 78px;
				max-height: 100%;
				min-width: 100%;
				position: relative;
				&:hover{
				    color: #FFF;
				    background: #00309d;
				    text-decoration: none;
				    border: 2px solid #00309d;
				    > a{
				    	color: #FFF;
				    	font-style: normal;
				    }
				}
				a{
					height: 100%;
					font-weight: bold;
					color: #003399;
					font-size: 1em;
					padding: 0 0 0 87px !important;
					display: flex;
				    width: 100%;
				    justify-content: flex-end;
				    align-items: center;
				    font-style: normal;
					&:before{
						content: none;
					}
					&:hover{
						text-decoration: none;
						color: #FFF;
					}
				}
			}
			.hwc-partner-private-link-block-description{
				span{
					display:block;
				}
			}
		}
	}

	.pane-hwc-partner-hwc-partner-private-link-0{
		.hwc-partner-private-link-block-title{
			a{
				background: url(../images/pz-events.png) 0 50% no-repeat;
    			height: 66px;
    			width: 100%;
			}
			&:hover{
				a{
					background: url(../images/mpp-create-event-hover.png) 0 50% no-repeat;
					
				}
			}
		}
	}

	.pane-hwc-partner-hwc-partner-private-link-1{
		.hwc-partner-private-link-block-title{
			a{
				background: url(../images/pz-news.png) 0 50% no-repeat;
    			height: 66px;
    			width: 100%;
			}
			&:hover{
				a{
					background: url(../images/mpp-create-news-hover.png) 0 50% no-repeat;
					
				}
			}
		}
	}
	
	.pane-hwc-partner-hwc-partner-private-link-2{
		.hwc-partner-private-link-block-title{
			a{
				background: url(../images/pz-good-practice.png) 0 50% no-repeat;
    			height: 66px;
    			width: 100%;
			}
			&:hover{
				a{
					background: url(../images/mpp-good-practice-hover.png) 0 50% no-repeat;
					
				}
			}
		}
	}

	.pane-hwc-partner-hwc-partner-private-link-3{
		.hwc-partner-private-link-block-title{
			a{
				background: url(../images/pz-partner-resource.png) 0 50% no-repeat;
    			height: 66px;
    			width: 100%;
			}
			&:hover{
				a{
					background: url(../images/mpp-partner-resources-hover.png) 0 50% no-repeat;
					
				}
			}
		}
	}
	
	.pane-node-profile-update-link{
		.hwc-partner-private-link-block-title{
			a{
				background: url(../images/pz-update-profile.png) 0 50% no-repeat;
    			height: 66px;
			}
			&:hover{
				a{
					background: url(../images/mpp-update-profile-hover.png) 0 50% no-repeat;
					
				}
			}
		}
	}

	.pane-node-profile-update-link{
		.pane-content{
			a.hwc-partner-private-link-block-title:first-child{
				
				font-weight: bold;
				font-style: italic;
				margin-bottom: 15px;
				
				&:before{
					content:none;
				}
			}
		}
	}

	.hwc-partner-private-link-block-description{
		margin-top: 2em;
	}

	p.draft{
		margin-top: 1em;
		text-align: left;
		margin: 0 auto;
		width: 100%;
		display: block;
		position: absolute;
		left: 20px;
		bottom: -25px;
		a{		
			color:#003399;
			background: #EEF4CC;
			padding: 5px 20px;
			border-radius: 7px;
		}
	}
}

/* Newsletter webpage */

body.newsletter{
	.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.col-md-6{
		background: url(../images/background-newsletter-page.png) no-repeat;
		background-size: cover;
		border-radius: 10px;
		margin-bottom: 2em;
		padding-left: 30px;
   	 	padding-right: 30px;
    	padding-top: 13px;
    	padding-bottom: 5px;

		.pane-osha-newsletter-osha-newsletter-subscribe-extra{
			margin-right: 0;
    		margin-left: 0;
    		padding-top: 15px;
    		padding-bottom: 0;
    		color: #FFF;
    		a{
    			color: #FFF;
    			text-decoration: underline;
    			&:hover{
    				text-decoration: none;
    			}
    		}
    		#subscribe-extra{
    			#edit-subscribe-details{
    				.form-item-email{
    					width: 100%;
    					padding-top: 1em;
    					input{
    						width: 99%;
    						padding-right: 151px;
    						border-top-left-radius: 7px;
    						border-bottom-left-radius: 7px;
    					}
    				}
    				#edit-submit{
    					right: 0;
    					padding-left: 3em;
    					padding-right: 3em;
    					border-top-right-radius: 7px;
    					border-bottom-right-radius: 7px;
    					top: 28px;
    					&:before{
    						content: none;
    					}
    				}
    				span.my-checkbox{
    					margin-top: 1px;
    				}
    				.checkbox label{
    					padding-left: 0;
    					text-align: left;
    				}
    				.checkbox:last-child{
    					padding-top: 2em;
    				}

    			}
    			.col-md-6.col-sm-12{
    				> .captcha{
    					text-align: left;
    					margin: 0;
    					.form-item-security-code{
    						.help-block{
    							color:#FFF;
    						}
    					}
    				}
    			}
    			
    			input[type="checkbox"]{
    				display: none;
    			}
    		}
		}

		#captcha_0_readaudio img, #captcha_0_refresh img{
			height: 27.5px;
    		width: 27px;
		}
	}



	.pane-osha-newsletter-osha-newsletter-latest{
		h2.pane-title{
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			box-sizing: border-box;
			font-family: inherit;
			line-height: 1.1;
			margin-bottom: 10px;
			font-size: 3rem;
			border-radius: 0px;
			color: #00309d;
			margin-top: 0;
			font-weight: 400;
			text-align: left !important;
		}
		#latest-newsletters-block{
			h2{
				background: url(../images/h2-newsletter.png) no-repeat 1px 4px transparent;
				padding-left: 25px;
				a{
					color: #003399 !important;
					&:hover{
						text-decoration: underline !important;
					}
				}
			}

			.newsletter-item{
				border-bottom: 3px solid #DEE999;
			}
			.more_newsletters, .less_newsletters{
				background: url(../images/ico-plus-20.png) no-repeat 98.5% 2px #0030a0;
				text-transform: uppercase;
				color: #FFF;
				border-top-left-radius: 7px;
				border-bottom-left-radius: 7px;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
				padding: 3px 3.5em 4px 0.7em;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				float: left;
				margin-top: 1em;
				max-width: 100%;
				&:hover{
					color: #FFF;
					background: url(../images/ico-plus-20-hover.png) no-repeat 98.5% 2px #8fc900;
					text-decoration: none;
				}
				&:before{
					content: '';
					display: none;
				}
			}	
		}
	}

	.newsletter-item{
		table{
			display: none;
		}
	}

	.hwc-share-widget{
		position: absolute;
    	right: 0;
    	bottom: -40px;
	}
}


/* Good Practice Awards - GPA */

.page-node-7276{
	.main-container{
		.field-name-field-introductory-text{
			float: left;
			width: 70%;
			padding: 1em;
		}
		.field-name-body{
			float: left;
			width: 30%;
			padding: 1em;
		}
		.slider--video--section{
			clear: both;
			background: #EFEFF0;
			padding: 2em;
			height: 350px;
			 
			h2.block-title{
				color: #003399;
				padding-top: 1em;
				padding-bottom: 1em;
			}

			.multicarousel--block{
				height: 190px;
			}

			.item{
				p{
					border:2px solid #DEE999;
					padding: 3em;
    				margin: 0 1em;
				}
			}
			
		}
		.slider--video--section .slider--video--block .slider--video--items .multicarousel--block .btn-primary{
		//TO DO LESS
			background: #EFEFF0;
		}

		ol.multicarousel-indicators {
		    position: absolute;
		    display: block !important;
		    z-index: 15;
		    width: 92%;
		    list-style: none;
		    text-align: center;
		    bottom: -14px;
		}

		
		  .slider--video--section .slider--video--block .slider--video--items .multicarousel--block .leftLst {
		    position: absolute;
		    top: -19px;
		    left: -11px;
		  }

		  .slider--video--section .slider--video--block .slider--video--items .multicarousel--block .rightLst {
		    position: absolute;
		    top: -19px;
		    right: -11px;
		  }
	}
}






/* Responsive */

@media (max-width: 1200px) {
	
	/* Private Zone */
	.profile-edit-links-container{
		.pane-hwc-partner-hwc-partner-private-link-0, 
		.pane-hwc-partner-hwc-partner-private-link-1,
		.pane-hwc-partner-hwc-partner-private-link-2,
		.pane-hwc-partner-hwc-partner-private-link-3,
		.pane-node-profile-update-link{
			width: 30%;
		}
		.pane-hwc-partner-hwc-partner-private-link-0, 
		.pane-hwc-partner-hwc-partner-private-link-1,
		{
	    	margin-bottom: 2em;
		}
	}

}

@media (max-width: 990px) {
	
	/* Private Zone */
	.profile-edit-links-container{
		.panels-flexible-region-inside-first{
			justify-content: flex-start;
		}

		.pane-hwc-partner-hwc-partner-private-link-0, 
		.pane-hwc-partner-hwc-partner-private-link-1,
		.pane-hwc-partner-hwc-partner-private-link-2,
		.pane-hwc-partner-hwc-partner-private-link-3,
		.pane-node-profile-update-link{
			width: 87%;
			max-width: 320px;
		}
		.hwc-partner-private-link-block-description {
		    margin-top: 0.8em;
		}
	}

}

@media (max-width: 669px) {
	
	/* Private Zone */
	.profile-edit-links-container{
		.panels-flexible-region-inside-first{
			justify-content: center;
		}
	}

}


@media (max-width: 480px) {
	
	/* Newsletter page */
	.page-node-129{
		.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.col-md-6{
			.pane-osha-newsletter-osha-newsletter-subscribe-extra{
				#subscribe-extra{
					#edit-subscribe-details{
						.form-item-email{
							input{
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
						#edit-submit{
							top: 5px;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							padding-right: 1em;
						}
					}
				}
			}	
		}
	}

	
}	