@media (max-width: 480px) { 

	.page_title{
		margin-bottom: 1em;
	}

	.hwc-share-widget{
		margin-top: 0;
		margin-bottom: 0;
		ul{
			width: 100%;
		}
	}

	body.page-tools-and-publications-practical-tools {
		.view-practical-tools {
			.view-header{
				h2{

				}
			}
		}
	}

	body.page-tools-and-publications-practical-tools {
		.region.region-content {
			.view-content {
				.views-row {
					padding-bottom: 3em!important;
					.views-field-body{
						padding-bottom: 0;
						.more-link {
						    bottom: 10px!important;	 				  
						}
					}
				}
			}

			.view-practical-tools {
				.view-content{ 
					.views-row{ 
						.conten-tags{
							width: 100%;
							margin-right: 0;
							span:nth-child(2){
								max-width: 175px;
							}
						}
					}
				}
			}
		}
	}

	body.front-page {
		.main-container {
			#block-hwc-homepage-hwc-homepage-news-events {
				.before-the-campaign {
					.content-box-before {
						.box-before:nth-child(1) {
							.box-before.news {
								.view-news {
									.view-content{ 
										> div:nth-child(1) {
											> div.pull-left{
												float: none !important;
											}
										}
										> div:nth-child(2) {
											> div.pull-left{
												float: none !important;
											}
										}
									}
									.media-body{
										height: auto;
										padding-bottom: 3em;
									}
								}
							}
						}
					}
				}
			}
			.view-recommended-tools-and-resources{
				.views-row{
					width: 100%;
				}
			}
			#block-hwc-homepage-hwc-homepage-news-events {
				.before-the-campaign {
					.content-box-before {
						.box-before:nth-child(2){
							padding-left: 0em;
						    padding-right: 3em;						
						}
					}
				}
			}
		}
	}

	.page_title h1 {
    	font-size: 2em;
    	width: 320px;
	}

	.container{
		.content-box-sub{
			width: 100%;
    		margin-left: 0;
    		margin-right: 0;
    		margin-bottom: 1em;
    		h2{
    			padding: 10px 0 0 0;
    		}
    	}
	}

	.container{
		.menu-name-main-menu{
			ul.menu{
				&.nav{
					.content-box-sub{
						width: 100%;
						margin: 0 0 0.7em;
					}
				}
			}
		}
	}

	.field.field-name-field-summary{
		margin-left: 0;
		margin-right: 0;
	}

	.publication-detail{
		background:none;
		h2{
			font-style: normal;
			margin-left: 0;
			margin-right: 0;
			margin-top: 1em;
		}
		.back-to-publications{
			text-align: left;
			padding-left: 0;
			padding-bottom: 1em;
		}
		.content-publication-info{
			padding-bottom: 1em;
		}
		.publications-left-column{
			background-color: #efefef;
    		width: 100%;
    		padding: 1em;
    		float:none;
		}
		.publications-right-column{
			float:none;
		}
		.publications-row{
			display: flex;
    		flex-direction: column;
    		width: 100%;
		}
		.share-this{
			width: 100%;
		}
	}

	#block-menu-block-3{
		padding: 0;
	}

	#block-views-partners-block-3 .views-row.hidden-xs {
	    width: 47%;
	}

	/*HW20-201 Mobile Become media partner - Media partners are not displayed*/
	#block-views-partners-block-2 .views-row.hidden-xs {
	    width: 47%;
	}

	body.press-room{
		h2.block-title{
			font-size: 2.15em!important;
		}
		.related-resources .related-resources-boxes div span {
		    width: 205px;
		    float: right;
		    padding-left: 1em;
		    padding-top: 8px;
		}
	}

	.related-resources{
		.related-resources-boxes div{
			width: 100%;
		}
	}

	body.european-week #european_week_date{
		font-size: 1.6em;
	}

	/* Related resources - right column */
	.related-resources{
		padding: 0;
		.related-resources-boxes{
			div{
				margin-right: 0;
				width: 310px;
			}
		}
	}

	/* Napo Films */
	.page-node-160{
		#block-views-napo-film-carousel-slidehow{
			#napo_films{
				.napo_films{
					.jssorb03{
						bottom: -64px;
					}
				}
			}
		}	
	}

	/* Newsletter page */
	body.newsletter{
		h2.pane-title{
			padding-top: 1em;
		}
		.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.col-md-6{
			.pane-osha-newsletter-osha-newsletter-subscribe-extra{
				#subscribe-extra{
					#edit-subscribe-details{
						.form-item-email{
							input{
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
						#edit-submit{
							top: 5px;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							padding-right: 1em;
						}
					}
				}
			}	
		}
	}

	#block-views-news-press-room{
		.more-link a{
			font-size: 0.85em;
			background: url(../images/ico-plus-20.png) no-repeat 99.5% 1px #0030a0;
		}
	}

}

@media (max-width: 370px) { 

	header.navbar-default .campaigns-header .navbar-header .col-xs-12.col-sm-9 img:nth-child(3) {
	    position: absolute;
    	right: 5px;
	}

	header.navbar-default .campaigns-header .navbar-header .col-xs-12.col-sm-9 a.pull-left {
	    margin: 2rem 0em 0 0;
	}

	header.navbar-default .campaigns-header .navbar-header .col-xs-12.col-sm-9 a img.pull-left {
	    height: 55px;
	}


	.how-to-apply{ 
		> div.boxes{ 
			> div:nth-child(1), > div:nth-child(2), > div:nth-child(3){
				left: 55px;
			}
		}
	}

	.how-to-apply{

		.container{
			padding-left: 0;
			padding-right: 0;
		}

		.timeline{
			> div:nth-child(1){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			> div:nth-child(2){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			> div:nth-child(3){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			
		}
	}

	html:lang(bg), 
	html:lang(cs), 
	html:lang(et), 
	html:lang(el), 
	html:lang(de), 
	html:lang(es),
	html:lang(fr), 
	html:lang(hr), 
	html:lang(is), 
	html:lang(lv), 
	html:lang(lt), 
	html:lang(hu), 
	html:lang(nl), 
	html:lang(pl),
	html:lang(pt),
	html:lang(ro),
	html:lang(sk),
	html:lang(sl),
	html:lang(fi),
	html:lang(sv)
	{
		.how-to-apply{
			h3{
				padding-bottom: 0;
			}
			.box{
				width: 232px;
				min-height: 206px;
			}

			> div.boxes > div:nth-child(1){
				left: 45px !important;
			}

			> div.boxes > div:nth-child(2){
				left: 45px !important;
			}

			> div.boxes > div:nth-child(3) {
				left: 45px !important;
			}
		}
	
		.timeline{
			> div:nth-child(1){
				position: absolute;
				left: 32px;
	    		top: 37px;
	    		&:after{
	    			left: -23px;
	    			top: 92px;
	    		}
		    }

		    > div:nth-child(2){
				position: absolute;
		    	left: 32px;
	    		top: 281px;
		    	&:after{
		    		left: -23px;
	    			top: 101px;
		    	}
		    }

		    > div:nth-child(3){
				position: absolute;
		    	left: 32px;
	    		top: 518px;
	    		right: initial;
		    	&:after{
		    		left: -23px;
	    			top: 97px;
		    	}
		    }

		    > div:nth-child(4){
				position: absolute;
		    	left: 101px;
	    		top: 429px;
	    		right: auto;
		    	&:after{
		    		left: -67px;
	    			top: 3px;
		    	}
		    }

		    > div:nth-child(5){
				position: absolute;
		    	left: 28px;
	    		top: 535px;
		    }
		} 
	}
	/**/

	body.front-page .main-container .newsletter-social-media #block-osha-newsletter-osha-newsletter-image{
		padding: 0;
	}


	#block-views-partners-block-3 {
    	padding-left: 0;
	}

	/*EN and others languages*/
	.how-to-apply{
		h3{
			padding-bottom: 0;
		}
		.box{
			width: 232px!important;
			min-height: 206px;
		}

		> div.boxes > div:nth-child(1){
			left: 45px !important;
		}

		> div.boxes > div:nth-child(2){
			left: 45px !important;
		}

		> div.boxes > div:nth-child(3) {
			left: 45px !important;
		}
	}
	
	.timeline{
		> div:nth-child(1){
			position: absolute;
			left: 32px;
    		top: 37px;
    		&:after{
    			left: -23px;
    			top: 92px;
    		}
	    }

	    > div:nth-child(2){
			position: absolute;
	    	left: 32px;
    		top: 281px;
	    	&:after{
	    		left: -23px;
    			top: 101px;
	    	}
	    }

	    > div:nth-child(3){
			position: absolute;
	    	left: 32px;
    		top: 518px;
    		right: initial;
	    	&:after{
	    		left: -23px;
    			top: 97px;
	    	}
	    }

	    > div:nth-child(4){
			position: absolute;
	    	left: 101px;
    		top: 429px;
    		right: auto;
	    	&:after{
	    		left: -67px;
    			top: 3px;
	    	}
	    }

	    > div:nth-child(5){
			position: absolute;
	    	left: 28px;
    		top: 535px;
	    }
	} 

	html:lang(de) .page_title h1, html:lang(es) .page_title h1, html:lang(bg) .page_title h1 {
	    font-size: 1.8em;
	    padding: 0 1em;
	}


}

@media (max-width: 490px) {
	body.press-room{
		.related-resources .related-resources-boxes div span {
		    width: 205px;
		    float: right;
		    padding-left: 1em;
		    padding-top: 0;
		    height: 54px;
    		display: flex;
    		align-items: center;
		}
	}
}