@media (max-width: 480px) { 

	.page_title{
		margin-bottom: 1em;
	}

	.hwc-share-widget{
		margin-top: 0;
		margin-bottom: 0;
		ul{
			width: 100%;
		}
	}

	body.page-tools-and-publications-practical-tools {
		.view-practical-tools {
			.view-header{
				h2{

				}
			}
		}
	}

	body.page-tools-and-publications-practical-tools {
		.region.region-content {
			.view-content {
				.views-row {
					padding-bottom: 3em!important;
					.views-field-body{
						padding-bottom: 0;
						.more-link {
						    bottom: 10px!important;	 				  
						}
					}
				}
			}

			.view-practical-tools {
				.view-content{ 
					.views-row{ 
						.conten-tags{
							width: 100%;
							margin-right: 0;
							span:nth-child(2){
								max-width: 175px;
							}
						}
					}
				}
			}
		}
	}

	body.front-page {
		.main-container {
			#block-views-homepage-banners-block {
				.view-homepage-banners { 
					.views-row-last {
						p{
							max-width: 280px;
						}
					}
				}
			}
			#block-hwc-homepage-hwc-homepage-news-events {
				.before-the-campaign {
					.content-box-before {
						.box-before:nth-child(1) {
							.box-before.news {
								.view-news {
									.view-content{ 
										> div:nth-child(1) {
											> div.pull-left{
												float: none !important;
											}
										}
										> div:nth-child(2) {
											> div.pull-left{
												float: none !important;
											}
										}
									}
									.media-body{
										height: auto;
										padding-bottom: 3em;
									}
								}
							}
						}
					}
				}
			}
			.view-recommended-tools-and-resources{
				.views-row{
					width: 100%;
				}
			}
			#block-hwc-homepage-hwc-homepage-news-events {
				.before-the-campaign {
					.content-box-before {
						.box-before:nth-child(2){
							padding-left: 0em;
						    padding-right: 3em;						
						}
					}
				}
			}
		}
	}

	.page_title h1 {
    	font-size: 2em;
    	width: 320px;
	}

	.container{
		.content-box-sub{
			width: 100%;
    		margin-left: 0;
    		margin-right: 0;
    		margin-bottom: 1em;
    		h2{
    			padding: 10px 0 0 0;
    		}
    	}
	}

	.container{
		.menu-name-main-menu{
			ul.menu{
				&.nav{
					.content-box-sub{
						width: 100%;
						margin: 0 0 0.7em;
					}
				}
			}
		}
	}

	.field.field-name-field-summary{
		margin-left: 0;
		margin-right: 0;
	}

	.publication-detail{
		background:none;
		h2{
			font-style: normal;
			margin-left: 0;
			margin-right: 0;
			margin-top: 1em;
		}
		.back-to-publications{
			text-align: left;
			padding-left: 0;
			padding-bottom: 1em;
		}
		.content-publication-info{
			padding-bottom: 1em;
		}
		.publications-left-column{
			background-color: #efefef;
    		width: 100%;
    		padding: 1em;
    		float:none;
		}
		.publications-right-column{
			float:none;
		}
		.publications-row{
			display: flex;
    		flex-direction: column;
    		width: 100%;
		}
		.share-this{
			width: 100%;
		}
	}

	#block-menu-block-3{
		padding: 0;
	}

	#block-views-partners-block-3 .views-row.hidden-xs {
	    width: 47%;
	}

	/*HW20-201 Mobile Become media partner - Media partners are not displayed*/
	#block-views-partners-block-2 .views-row.hidden-xs {
	    width: 47%;
	}

	body.press-room{
		h2.block-title{
			font-size: 2.15em!important;
		}
	}

	.related-resources{
		.related-resources-boxes div{
			width: 100%;
		}
	}

	body.european-week #european_week_date{
		font-size: 1.6em;
	}

	/* Related resources - right column */
	.related-resources{
		padding: 0;
		.related-resources-boxes{
			div{
				margin-right: 0;
				width: 310px;
			}
		}
	}

	/* Napo Films */
	.page-node-160{
		#block-views-napo-film-carousel-slidehow{
			#napo_films{
				.napo_films{
					.jssorb03{
						bottom: -64px;
					}
				}
			}
		}	
	}

	/* Newsletter page */
	body.newsletter{
		h2.pane-title{
			padding-top: 1em;
		}
		.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.col-md-6{
			.pane-osha-newsletter-osha-newsletter-subscribe-extra{
				#subscribe-extra{
					#edit-subscribe-details{
						.form-item-email{
							input{
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
						#edit-submit{
							top: 5px;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							padding-right: 1em;
						}
					}
				}
			}	
		}
	}

}

@media (max-width: 370px) { 
	.how-to-apply{ 
		> div.boxes{ 
			> div:nth-child(1), > div:nth-child(2), > div:nth-child(3){
				left: 55px;
			}
		}
	}

	.how-to-apply{

		.container{
			padding-left: 0;
			padding-right: 0;
		}

		.timeline{
			> div:nth-child(1){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			> div:nth-child(2){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			> div:nth-child(3){
				left: 35px;
				&:after{
					left: -25px;
				}
			}

			
		}
	}

	body.front-page .main-container .newsletter-social-media #block-osha-newsletter-osha-newsletter-image{
		padding: 0;
	}
}