@media (max-width: 768px){

	.start-browsing .start-browsing-box{
		width: 309px;
		height: auto;
		margin-right: 1em;
	}

	.before-the-campaign .content-box-before .two-box-column{
		flex-direction: row;
		margin-bottom: 1em;
		.box-before.news{
			width: 42%;
    		margin-right: 1%;
		}
		.box-before.events{
			width: 56%;
    		margin-right: 0;
		}

	}

	.before-the-campaign .content-box-before .box-before{
		width: 100%;
		margin-right: 1em;
	}

	.comming-soon h2{
		width: 100%;
	}

	ul.time-and-counters {
	    width: 255px;
	    margin: 0 auto;
	    padding-top: 1em;
		li .counter-label {
			width: 100%;
		    padding-top: 0;
		    padding-bottom: 1em;
		}
	}

	#block-hwc-homepage-splash-download-news-campaign > section > div.content-box-before > div:nth-child(3) {
	    width: 742px;
	}

	.view-id-partners_list .col-md-2.col-sm-3.col-xs-6{
		min-height: auto;
    	width: 100%;
	}

}


@media (max-width: 767px){

	header.navbar-default .campaigns-header .navbar-header .region-header #block-lang-dropdown-language, header.navbar-default .campaigns-header .navbar-header .region-header #block-menu-menu-header-login ~ #block-lang-dropdown-language{
		background: transparent;
		padding-bottom: 1em;
		padding-right: 0px;
		display: block !important;
    	position: absolute;
    	top: 1px;
    	right: 56px;
	}
	
	header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language:after{
		background: url(../images/header/select-mobile.png) 5px 11px no-repeat #003399 !important;

	}

	header.navbar-default .campaigns-header .navbar-header .region-header #block-menu-menu-header-login{
		float: right;
	}

	header.navbar-default .campaigns-header .navbar-header .region-header #block-menu-menu-header-login ul li a{
		background: #003399 url(../images/header/login.png) no-repeat 6px 3px;
		min-width: 80px;
		text-align: right;
		padding-top: 0;
	}

	.xs-menu #block-search-form{
		float: right;
	}

	#block-system-main div div.form-type-textfield, #block-system-main div div.form-type-password{
		display: block;
	}

	header.navbar-default .navbar-collapse nav ul.menu.nav.navbar-nav li span{
		display: none;
	}

	header.navbar-default .campaigns-header .navbar-header .region-header #block-search-form.expanded .input-group input{
		min-width: 190px;
		height: 31px;
	}

	.intro-splash-20 {
		.views-row-first{ 
			padding-bottom: 1em;
			h1{
				font-size: 1.6em;
				padding-top: 0.5em;
			}
			p{
				max-width: 290px;
				padding-bottom: 1em;

			}
			.btn-background-transparent{
				max-width: 290px;
				width: 94%;
    			margin-bottom: 1em;
    			margin: 1em auto;
			}
		}
	}

	.before-the-campaign .content-box-before .two-box-column{
		flex-direction: row;
		margin-bottom: 1em;
		.box-before.news{
			width: 42%;
    		margin-right: 1%;
		}
		.box-before.events{
			width: 56%;
    		margin-right: 0;
		}

	}

	.before-the-campaign .content-box-before .box-before{
		width: 100%;
		margin-right: 1em;
	}

	.comming-soon h2{
		width: 100%;
	}

	ul.time-and-counters {
	    width: 255px;
	    margin: 0 auto;
	    padding-top: 1em;
		li .counter-label {
			width: 100%;
		    padding-top: 0;
		    padding-bottom: 1em;
		}
	}

	#block-hwc-homepage-splash-download-news-campaign > section > div.content-box-before > div:nth-child(3){
		width: 100%;
	}

	#block-views-splash-previous-campaigns-splash > div > div > div{
		width: 100%;
		float: none;
		margin: 0;
	}

	.before-the-campaign .content-box-before div:nth-child(1) > div.box-before-title:nth-child(2){
		width: 90%;
	}

	header.navbar-default .campaigns-header .navbar-header .region-header{
		float: right;
		margin-right: 10px;
	}

	.xs-menu .navbar-toggle, button.navbar-toggle.active{
		float: left;
		margin-left: 1.5em;
		left: 0em;
	}

	.navbar-toggle .icon-bar{
		width: 27px;
		height: 3px;
	}

	.navbar-toggle.active .icon-bar:nth-of-type(2){
		top: 8px;
	}

	header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language select{
		color:#FFF;
		width: auto !important;
		background: #003399 !important;
	}

	header.navbar-default .campaigns-header .navbar-header #block-menu-menu-header-login ~ #block-lang-dropdown-language select option{
		background: #003399;
	}

	.page-media-centre-news .main-container #block-system-main .view .views-row .more-link{
		bottom: -15px;
    	right: 0;
	}

	.page-search .main-container #block-system-main .view .views-row .more-link{
		bottom: 10px;
    	right: 0;
	}

	header.navbar-default .campaigns-header .navbar-header .region-header #block-search-form .input-group input{
		width: 0;
		height: 31px;
	}

	#edit-search-block-form--2{   
        position: absolute;
        width: 0;
       	min-width: 0;
        background: #FFF;
        top: -3px;
        right: 27px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        color:#003399;
        height: 30px;
        font-size: 0.8rem;
        opacity: 0;
      
    }

    #edit-search-block-form--2.expand , #block-search-form.expand{
        width: 220px;
        min-width: 220px;
        opacity: 1;
        z-index: 99999999999;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }   

    #search-block-form > div > div > div.input-group > span.input-group-btn > button{
	    pointer-events: none;
	}

	.recommended-tool{
		img{
			position: relative;
			left: auto;
		}
		span{
			width: 100%;
			padding-top: 10px;
			padding-left: 0;
		}
	}

	/*Home*/
	.priority-area-box {
	    width: 100%;
	}

	.content-box-before .box-before, .content-box-before .two-box-column{
	    width: 98%;
	    margin-left: 1em;
	    margin-right: 1em;
	}

	.content-box-before .box-before.news, .box-before.events{
	    height: 100%;
	    margin-bottom: 2em;
	    margin-left: 0;
	    margin-right: 0;
	    width: 100%;
	}

	ul.time-and-counters li .counter-value{
		min-width: 85px;
	}

	.title-section{
		float: left;
    	min-height: auto;
    	width: 100%;
    	padding-bottom: 0;
    	margin: 0;
    	background: none;
		h1{
			font-size: 2.5em;
		}
	}

	.breadcrumb_hwc20{
		display: none;
	}

	.container-recommended-tools .recommended-tool {
	    width: 85%;
	    margin-bottom: 1em;
	    margin: 1em auto;
	    padding-left: 0;
	}

	.news-item{
		clear: both;
		display: block;
		img{
			display: none;
		}
	}

	#block-views-news-events{
		.col-md-8{
			border-right: 0;
		}
	}

	.box-news div.news-item:nth-child(2) .news-item-content {
	    margin-left: 0em;
	    margin-right: 0;
	    margin-top: 1em;
	}

	.home-intro .second-row-left-column:after{
		display: none;
	}

	/* Subhome */
	.container .content-box-sub{
		width: 48.7%;
	}

	/*Publications page*/
	.content-fluid .container{
	  	padding-left: 1em;
	    padding-right: 1em
	}

	.new-select-style{
		display: block !important;
	}

	.page-publications .sidebars_first.with-result-for, .page-publications .sidebars_first, .page-events .sidebars_first{
		margin-top: 1em;
	}

	.page-publications{

		.content{
			display: block;
		}

		.main-container {
	    	padding-right: 0 !important;
	    	padding-left: 0 !important;
		}

		.content-publication-info{
			display: block;
		}

		.date-display-single{
			float: none;
			display: block;
			width: 100%;
		}

		.pages{
			display: block;
			width: 100%;
		}
	}

	/* Articles */
	.node-type-article article{
	    padding-bottom: 1em;
	}

	/* News */
	.page-news .main-container h1{
		border-bottom: 0;
    	padding-bottom: 0;
	}

	/*Footer*/

	.footer .on-the-web span:nth-child(1){
		width: auto;
	}

	.footer{
		padding-left: 0;
		div.container{
			padding-left: 15px;
			padding-right: 15px;
		}
		div.on-the-web{
			margin-right: 0;
		}
		div.on-the-web a{
			margin-left: 3px;
		}

		h2, p {
			display: block;
		}

		.intro-footer{
			float: left;
			padding-bottom: 2em;
		}
	}

	/* Previous campaign */

	.related-resources{
		width: 100%;
		padding: 2em;
	}

	.container-recommended-tools .recommended-tool{
		width: 100%;
		margin: 1em 0;
		display: block;
		img{
			float: none;
			margin:0 auto;
		}
	}

	#block-hwc-campaign-resources{

		.campaign-resources-title{
			width: 310px;
			margin: 2em auto;
		}

		.campaign-resources{
			.campaign-resources-boxes{
				div {
					width: 310px;
					margin: 0 auto 1em;
				}
			}
		}
	}


	/* Panels - National Focal Points, etc. */

	.page-campaign-partners{
		.hwc-share-widget{
			ul .share-this-article{
				padding-top: 0 !important;
			}
		}
	}

	.profile-2-cols-container-3 .view-partner-content{
		width: 100%;
    	margin: 0;
	}

	.profile-2-cols-container-3 .profile-col-right-3 {
		padding-top: 2em;
	    padding-left: 0;
	}

	.panels-flexible-column-inside-first .panels-flexible-region-first {
	    float: none;
	    padding-right: 0;
	}

	.panels-flexible-region .hwc-share-widget ul .share-this-article {
	    float: left;
	    padding-top: 10px;
	}

	.panels-flexible-row .hwc-share-widget{
		padding-right: 1em;
	}

	.panels-flexible-column-last {
	    padding-left: 0 !important;
	}

}





@media (max-width: 600px){
	.before-the-campaign .content-box-before .two-box-column{
		flex-direction: column;
		margin-bottom: 0;
		.box-before.news{
			width: 100%;
			margin-right: 0;
			img{
				max-width: 215px;
			}
		}
		.box-before.events{
			width: 100%;
			margin-right: 0;
		}

	}

	.start-browsing .start-browsing-box {
	    margin-right: 0;
	}
}